@tailwind base;
@tailwind components;
@tailwind utilities;

.spin-button-none::-webkit-outer-spin-button,
.spin-button-none::-webkit-inner-spin-button {
  appearance: none;
}

.animate-scale {
  transform-origin: 0% 0%;
  animation: scale 0.2s;
}

.animate-scale-reverse {
  transform-origin: 0% 0%;
  animation: scale 0.2s reverse forwards;
}

.custom-scroll-bar::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

/* Track */
.custom-scroll-bar::-webkit-scrollbar-track {
  background: #222;
}

/* Handle */
.custom-scroll-bar::-webkit-scrollbar-thumb {
  background: rgb(224, 201, 251);
  cursor: pointer;
}

/* Handle on hover */
.custom-scroll-bar::-webkit-scrollbar-thumb:hover {
  background: rgb(143, 190, 245);
}

@keyframes scale {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
